.git/
.*.sw[op]
.metadata
.yardoc
.yardwarns
*.iml
/.idea/
/.vagrant/
/coverage/
/bin/
/Gemfile.lock
/junit/
/log/
/pkg/
/spec/fixtures/manifests/
/spec/fixtures/modules/*
/tmp/
/vendor/
/convert_report.txt
/update_report.txt
.DS_Store
.project
.envrc
/inventory.yaml
/spec/fixtures/litmus_inventory.yaml
bolt-debug.log
*_cache*
.direnv/
/inventory.d/
inventory.ssh.yaml
*.log
.modules/
.rerun.json
.resource_types/
.ssh_config
